<mat-card style="text-align: center">
  <mat-toolbar color="primary">Local Weather</mat-toolbar>

  <div>Your city, your forecast now</div>
  <h2>Current Weather</h2>
  <mat-card style="max-width: 400px; margin-left: 250px; margin-top: 50px">
    <app-citysearch (searchEvent)="doSearch($event)"></app-citysearch>
  </mat-card>
  <mat-card style="max-width: 400px; margin-left: 250px; margin-top: 50px">
    <app-current-weather [current]="currentWeather"></app-current-weather>
  </mat-card>
</mat-card>
